*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
/*navigation*/
nav{
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.logo{
   
    height: 32px;
    position: absolute;
    left: 24px;
}
.colmar{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: grey;
    position: absolute;
    left: 40px;
}
.academy{
    color: black;
    font-size: 1.5rem;
}
ul{
    display: inline-flex;
    justify-content: space-around;
    width: 30rem;
    position: absolute;
    right: 24px;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
}
ul li a:hover{
    color:grey;
}

/*banner*/
.banner-row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(214, 214, 214);
    
}
.left-col{
    flex-basis: 60%;
}
.left-col img{
    width: 100%;
    padding: 32px 24px;
}
.right-col{
    flex-basis: 40%;
}
.right-col-text{
    max-width: 80%;
    padding: 24px;
}
.banner h1{
    font-size: 2.5rem;
    color: rgb(59, 59, 59);
    margin: 20px 0;
}
.banner-text{
    font-size: 1.5rem;
    color: rgb(59, 59, 59);
    margin: 20px 0;
}
.start-here{
    font-size: 1.5rem;   
    background-color: rgb(59, 59, 59);
    color: white;
    text-align: center;
    padding: 8px 0;
    margin-top: 40px;
}
/*information section*/
.information-main{
    background-color: rgb(235, 235, 235);
}
.info-row{
    display: flex;
    
   
}
.info-left{
    flex-basis: 60%;
}
.info-left img{
    width: 100%;
    height: auto;
    padding: 32px 24px;
}
.info-right{
    flex-basis: 40%;
    margin: 16px 24px;
    border-left: rgb(214, 214, 214) solid 2px;
}
.info-text{
    padding-left: 24px;
    color: rgb(59, 59, 59);
}
.info-text h1{
    font-size: 2rem;
}
.info-text p{
    padding: 32px 0;
}
.orientation-date{
    align-items: center;
    
}
.info-right-img{
    flex-basis: 35%;
}
.info-right-img img{
    width: 100%;
    height: auto;
    padding: 16px;
    
}
.info-right-text{
    flex-basis: 65%;
    padding-left: 24px;
    color: rgb(59, 59, 59);
}
.info-right-text a{
    text-decoration: none;
}
.info-right-text p{
    padding: 8px 0;
}
.grey{
    background-color: rgb(214, 214, 214);
}
.grey img{
    padding: 16px;
}
/* Start Learing*/
.container{
    background-color: rgb(214, 214, 214);
    text-align: center;
}
.container h1{
    padding: 32px 0;
    color: rgb(59, 59, 59);
    font-size: 1.5rem;
}
.learning{
    display: flex;
    justify-content: center;
    margin-left: 40px;
    max-width: 100%;
    margin-right: 72px;
    
}
.learning-second{
    display: flex;
    justify-content: center;
    margin-left: 40px;
    max-width: 100%;
    margin-right: 72px;
    margin-top: 32px;
    padding-bottom: 32px;
}
.learning-div{
   padding-left: 32px;
   flex-basis: 33%;
}
.learning-div img{
    width: 100%;
    height: auto;
}
.learning-div-img{
    background-color: white;
}
.learning-div-text{
    background-color: white;
    text-align: start;
    padding-left: 16px;
    height: 43%;
}
.learning-div-text h3{
    padding-top: 16px;
    color: rgb(59, 59, 59);
}
.learning-div-text p{
    padding-bottom: 24px;
    line-height: 30px;
    color: rgb(59, 59, 59);
}
.courses{
    padding: 8px 0;
    text-transform: uppercase;
    font-weight: 100;
    color: rgb(59, 59, 59);
}
/*Thesis exhibit*/
.container-thesis{
    background-color: rgb(235, 235, 235);
}
.thesis-h3{
    text-align: center;
    padding-top: 32px;
    color: rgb(59, 59, 59);
    font-size: 1.5rem;
}
.cont-row{
    display: flex;
}
.vid{
    flex-basis: 60%;
    padding-left: 78px;
    padding-top: 32px;
}
.right-col{
    flex-basis: 40%;
}
.vid video{
    width: 100%;
}
.vid-text{
    text-align: start;
}
.vid-text h3{
    padding-top: 24px;
}
.vid-text p{
    padding-top: 8px;
    padding-bottom: 32px;
}
.fisma{
    margin-top: 32px;
    margin-left: 24px;
    background-color: rgb(214, 214, 214);
}
.fisma-img{
    flex-basis: 35%;
    height: auto;
}
.fisma img{
    padding: 16px;
    width: 100%;
}.fisma-text{
    flex-basis: 65%;
    width: 100%;
    padding-left: 16px;
    margin-top: 40px;
    line-height: 25px; 
}
.fisma-text p{
    color: rgb(59, 59, 59);
    padding-top: 16px;
}
.fisma-text h3{
    color: rgb(59, 59, 59);
}
.now-then{
    padding-left: 24px;
}
.now-then img{
    padding:16px;
    width: 100%;
}
.now-then-img{
    flex-basis: 35%;
    height: auto;
}
.now-then-text{
    flex-basis: 65%;
    padding-left: 16px;
    margin-top: 70px;
    line-height: 25px;
}
.now-then-text h3{
    color: rgb(59, 59, 59);
}
.now-then-text p{
    color: rgb(59, 59, 59);
    padding-top: 16px;
}
/*footer*/
footer{
    height: 80px;
    display:flex;
    justify-content: space-between;
}
.copyright{
    padding: 16px 24px;
}
.term{

    padding: 16px 24px;
}
    

.rigt-terms a{
    text-decoration: none;
    color: rgb(59, 59, 59);
    
}
.right-privacy a{
    text-decoration: none;
    color: rgb(59, 59, 59);
    

}

footer p{
    padding: 10px;
}